{% extends 'base.html.twig' %}

{% block title %}Character index{% endblock %}

{% block body %}
    <h1>Character index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Strength</th>
                <th>Speed</th>
                <th>Durability</th>
                <th>Power</th>
                <th>Combat</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for character in characters %}
            <tr>
                <td>{{ character.id }}</td>
                <td>{{ character.Strength }}</td>
                <td>{{ character.Speed }}</td>
                <td>{{ character.Durability }}</td>
                <td>{{ character.Power }}</td>
                <td>{{ character.Combat }}</td>
                <td>{{ character.Name }}</td>
                <td>
                    <a href="{{ path('app_character_show', {'id': character.id}) }}">show</a>
                    <a href="{{ path('app_character_edit', {'id': character.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_character_new') }}">Create new</a>
{% endblock %}
